@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../fonts/Gilroy-Bold.woff') format('woff'),
 }
@font-face {
	font-family: 'Gilroy-ExtraBold';
	src: url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
 }
@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../fonts/Gilroy-Medium.woff') format('woff'),
 }
@font-face {
	font-family: 'Gilroy-Regular';
	src: url('../fonts/Gilroy-Regular.woff') format('woff'),
 }
@font-face {
	font-family: 'Gilroy-SemiBold';
	src: url('../fonts/Gilroy-SemiBold.woff') format('woff'),
 }
@font-face {
	font-family: 'Satoshi-Medium';
	src: url('../fonts/Satoshi-Medium.woff2') format('woff2'),
 }
@font-face {
	font-family: 'Satoshi-Bold';
	src: url('../fonts/Satoshi-Bold.woff2') format('woff2'),
 }
@font-face {
	font-family: 'Trade-Gothic-LT-Bold-No.-2';
	src: url('../fonts/Trade-Gothic-LT-Bold-No.-2-Oblique.woff') format('woff'),
 }
@font-face {
	font-family: 'Trade-Gothic-LT-Bold';
	src: url('../fonts/Trade-Gothic-LT-Bold.woff') format('woff'),
 }
@font-face {
	font-family: 'Trade-Gothic-Medium';
	src: url('../fonts/Trade-Gothic-Medium.woff') format('woff'),
 }