header{
   text-transform: uppercase;
   position: relative;
}
.header__container {
  
}
.header__menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 86px;
   @media (max-width: 980px){
      flex-direction: row-reverse;
   }
}

.menu__icon {
   display: none;
}
.menu__body {
}
.menu__list {
   display: flex;
   gap: 2.75rem;
}
.menu__item {

   a{
      font-size: 1.125rem;
      font-weight: 700;
      color: #F2F6F9;
   }
}
.header-logo {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   @media (max-width: 550px){
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0%,0%);
   }
}
.header__block-right {
   display: flex;
   align-items: center;
   gap: 25px;

   @media (max-width:670px){
      gap: 0;
   }
   &>*{
      cursor: pointer;
   }
  
   
}
.header__shop {
   font-size: 1.125rem;
      font-weight: 700;
      margin-top: -5px;
      padding: 36px 10px 41px;
      a{
         color: #F2F6F9;
      }
      .arr-bot{
         position: relative;
         top: 7px;
      }
      &:hover{
         a{
            color: #2F2D2D;
         }
         background-color: #fff;
         
      }
}
.header__shop:hover .clr-svg{
   fill: #2F2D2D;
}

.header__user-profile{
   padding: 36px 10px;
}
.header__search {
   padding: 36px 10px;
}
.shop__show-more {
   padding: 30px 95px;
   background-color: #fff;
   display: flex;
   justify-content: center;
   gap: 60px;
   flex-wrap: wrap;
   position: absolute;
   left:0;
   width: 100%;
   top: 105px;
   display: none;
   z-index: 10;
}
.header__shop:hover .shop__show-more{
   display: flex;
}
.shop__show-more.open{
   display: flex;
}
.show__more-item {
   text-align: center;

   img{
      margin-bottom: 1rem;
   }
   h4{
      color: #2F2D2D;
      font-weight: 700;
      font-size: 18px;
   }
}


.header-form {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   background-color: #000;
   display: none;
   flex-direction: column;
   
   form{

      display: flex;
      align-items: center;
      padding: 1rem 30px;
      width: 660px;
      background-color: #fff;
      border-radius: 45px;
      margin: 12px auto;
      @media (max-width: 700px){
         width: 100%;
      }
      label{

         &::before{
            content:url(../images/header/search-dark.svg);
            position: relative;

         }
      }
      input{
         background-color: transparent;
         color:  #828694;
         font-size: 18px;
         font-family: "Satoshi-Medium";
         font-weight: 500;
         width: 100%;
         margin-left: 10px;
      }
   }
}
.header-form-logo{
   position: absolute;
   top: 10px;
   left: 20px;

   @media (max-width: 1030px){
      display: none;
   }
}
.serch-result {

   background-color: #fff;
   ul{
      width: 660px;
      margin: 0 auto;
      padding: 30px 10px;
      
      li{
         color:  #828694;
         font-size: 13px;
         font-family: "Satoshi-Medium";
         font-weight: 700;
         &:first-of-type{
            color: #000;
         }
         &:not(:last-child){
            margin-bottom: 14px;
      }
      }
   }
}
@media (max-width: 460px){
   .header__block-right {
      flex-direction: column;
      align-items: flex-start;
   }
   .header__shop,
   .header__user-profile,
   .header__search{
      padding: 10px 10px 10px;
   }
   .header__search{
      padding-bottom: 20px;
   }
   .shop__show-more{
      top: 158px;
   }
   
}
@media (max-width: 980px){
	.header__container{
		min-height: 50px;
	}
   .menu__icon{
      z-index: 11;
      display: block;
      position: relative;
      background-color: #000;
		top: 0;
      width: 30px;
      height: 18px;
      cursor: pointer;
   }
   .menu__icon span,
   .menu__icon::before,
   .menu__icon::after{
       left: 0;
       position: absolute;
       height: 2px;
       width: 100%;
       transition: all 0.3s ease 0s;
       background-color: rgb(255, 255, 255);
   }
   .menu__icon::before,
   .menu__icon::after{
      content: '';
   }
   .menu__icon::before{
      top: 0;
   }
   .menu__icon::after{
      bottom: 0;
   }
   .menu__icon span{
      top: 50%;
      transform: scale(1) translate(0px, -50%);
   }
   .menu__icon._active span{
      transform: scale(0) translate(0, -50%);
   }
   .menu__icon._active::before{
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
   }
   .menu__icon._active::after{
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
   }
   .menu__body{
      position: fixed;
      bottom: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 4, 25, 0.9);
      padding: 100px 30px 30px 30px;
      transition: bottom 0.3s ease 0s;
      overflow: auto;
      z-index: 10;
      display: flex;
      justify-content: center;

   }
   .menu__list{
      flex-direction: column;
      li a{
         font-size: 1.5rem;
      }
   }
   .menu__body._active{
      bottom: 0;
   }

}